body {
  background: #ffffff;
  color: #292929;
  font-family: -apple-system, "Segoe UI", Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}

h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

h1, h2, h3 {
  color: #0a0a0a;
  font-family: Helvetica, Montserrat;
  font-weight: 900;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.75;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s color;
}

p a {
  color: #63b8da;
}

a:hover, footer a:hover {
  color: #CBBDDD;
}

section {
  margin: 48px auto;
  padding: 48px 0;
}

section section {
  margin: 0 auto;
  padding: 0;
}

section.hero {
  margin: auto;
  max-width: unset;
  overflow: hidden;
  padding: 0;
}

footer {
  background-color: #ffffff;
  color: #0a0a0a;
  display: flex;
}

nav-bar {
  font-family: Helvetica, Montserrat;
  transition: top 0.4s ease-out;
}

.nav-items {
  margin: 0;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
}

.top-nav {
  font-weight: 800;
}

.nav-items li {
  list-style: none;
  margin: 0 8px;
  display: inline;
}

.nav-items a[active] {
  text-decoration: underline;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100%;
  position: relative;
}

#bgvideo {
  min-width: 100%;
}

.main-content {
  margin: auto;
  max-width: 960px;
  padding: 0 36px;
}

.col-wrapper {
  display: flex;
  gap: 8px;
}

.col-two {
  width: 50%;
  margin-right: 8px;
}

.col-three {
  width: 33.33%;
}

.col-four {
  width: 25%;
}

table.schedule {
  border-collapse: collapse;
  margin: 24px 0;
  width: 100%;
}

.session {
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
}

.quote {
  font-family: Helvetica, Montserrat;
  font-size: 56px;
  font-weight: 700;
  text-decoration: none;
  margin: auto;
  max-width: 960px;
  padding: 0 36px;
}

.gallery-item {
  margin-bottom: 64px;
}

.gallery-item {
  text-align: right;
}

p.caption {
  text-align: center;
}

.expand {
  width: 100%;
}

.socials li {
  color: #0a0a0a;
  font-size: 26px;
  list-style: none;
  text-transform: uppercase;
}

.signature {
  align-items: center;
  display: flex;
  font-size: 16px;
  padding-left: 40px;
}

.email {
  font-size: 54px;
}

.no-wrap {
  white-space: nowrap;
}

footer.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 767px) {
  h1 {
    font-size: 18px;
  }

  .nav-items li {
    display: block;
  }

  section section {
    margin: 0 auto;
    padding: 0;
  }

  section {
    margin: 24px auto;
    padding: 24px 12px;
  }

  .hero {
    height: unset;
  }

  .col-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .col-two {
    margin: 0;
    width: unset;
  }

  .col-four {
    width: 100%;
  }

  .quote {
    font-size: 32px;
  }

  footer {
    flex-direction: column;
    padding: 24px 0;
  }

  .signature {
    display: none;
    font-size: 14px;
    padding-left: 40px;
    text-align: left;
  }
}
@keyframes page-nav {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
